<div class="center hero-unit">
<h1>Welcome! </h1>
<p> to 
<%= link_to "String Love Guitar", "http://stringloveguitar.com" %>
  </p>
  <p>
    <%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>
    </p>
